<!Doctype html>
<html lang="en">
    <%- include("../partials/head") %>

    <body>
       <div id="wrapper">
            <%- include("../partials/header") %>
            <%- include("../partials/navigations") %>

            <main>
                <%- body %>
            </main>
            <%- include("../partials/footer")  %>
       </div>
    </body>
</html>